<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codechefvit.bookmarked">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_custom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_custom_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.codechefvit.bookmarked.Main.TestActivity">

        </activity>
        <activity android:name="com.codechefvit.bookmarked.Main.Main">

        </activity>
        <activity android:name="com.codechefvit.bookmarked.Authentication.Register"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.codechefvit.bookmarked.Authentication.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.codechefvit.bookmarked.Starters.TutorialActivity"
            android:noHistory="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.codechefvit.bookmarked.Starters.TitleActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.codechefvit.bookmarked.Main.SendActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>